<!DOCTYPE html>
<html style="position: relative; height: 100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login - Meido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meido.css') }}">
</head>
<body style="min-height: 100%; margin: 0; display: flex; justify-content: center; align-items: center;">
    <div style="width: 33vh;">
        <h1 class="text-center mb-2">meido</h1>
        <form role="form" action="{{ url_for('.login', next=request.args.get('next')) }}" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.username(class_="form-control form-control-lg", placeholder=form.username.name) }}
            </div>
            <div class="form-group">
                {{ form.password(class_="form-control form-control-lg", placeholder=form.password.name) }}
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg mt-3">Submit</button>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <p class="help-block text-center my-2">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <p class="help-block text-center my-2">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</body>
</html>
